.navbar {
    /* background-color: blue; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
    /* border: 2px solid red; */
}

.title {
    display: inline;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .22rem;
    /* border: 2px solid orange; */
}

.bass {
    font-size: 2.7rem;
    letter-spacing: .18rem;
    font-weight: 800;
    padding-left: 30px;
    /* border: 2px solid yellow; */
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    /* border: 2px solid green; */
}

.li {
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: 300;
}

.li:hover {
    text-decoration: underline;
}


a {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: underline;
    /* color: lime; */
}

.btn {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    justify-self: center;
    transition: all .5s;
}
.btn:hover {
    background-color: #f8f8f8;
    color: #333333;
}

.mobile_btn {
    display: none;
}

@media screen and (max-width: 1030px) {
    .mobile_btn {
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        z-index: 10;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: -100%;
        right: 0;
        bottom: 0;
        top: -10;
        width: 100%;
        height: 100vh;

        background-color: #333333ed;
        z-index: 10;
        transition: left 1s;
    }
    .title {
        font-size: 1.25rem;
    }
    .bass {
        font-size: 1.5rem;
    }
    .active {
        left: 0;
        text-align: center;
    }

    .navbar a {
        font-size: 2rem;
    }
    .btn {
        background-color: #f8f8f8;
        color: #333333;
    }
    .btn:hover {
        background-color: #333333;
        color: #f8f8f8;
    }
}